.board-list-header {
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.board-list-nav {
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.75rem;
}

.board-list-logo {
	font-weight: 700;
	letter-spacing: 1px;
}

.board-list-nav__cta {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.board-list-user {
	display: flex;
	align-items: center;
	padding: 0.25rem 0;
	gap: 0.25rem;
}

.user-color {
	display: grid;
	place-items: center;
	background-color: palegreen;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	font-weight: 800;
}
.user-name {
	font-weight: 600;
	text-transform: capitalize;
}

.board-list-nav__btn {
	background-color: var(--clr-white-grey);
	border: 1px solid var(--clr-white-grey);
	text-transform: capitalize;
	padding: 0.25rem 0.5rem;
	letter-spacing: 1px;
	font-weight: 500;
	color: var(--clr-black);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
	-webkit-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
}
.board-list-nav__btn:hover {
	background-color: var(--clr-black);

	border: 1px solid var(--clr-black);

	color: var(--clr-white-grey);
}

@media only screen and (max-width: 320px) {
	.user-name {
		display: none;
	}
	.board-list-nav__cta {
		gap: 0.25rem;
	}
}
