/* * boardList -> Header */

.board-list-header {
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.board-list-nav {
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.75rem;
}

.board-list-logo {
	font-weight: 700;
	letter-spacing: 1px;
}

.board-list-nav__cta {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.board-list-user {
	display: flex;
	align-items: center;
	padding: 0.25rem 0;
	gap: 0.25rem;
}

.user-color {
	display: grid;
	place-items: center;
	background-color: palegreen;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	font-weight: 800;
}
.user-name {
	font-weight: 600;
	text-transform: capitalize;
}

.board-list-nav__btn {
	background-color: var(--clr-white-grey);
	border: 1px solid var(--clr-white-grey);
	text-transform: capitalize;
	padding: 0.25rem 0.5rem;
	letter-spacing: 1px;
	font-weight: 500;
	color: var(--clr-black);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
	-webkit-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
}
.board-list-nav__btn:hover {
	background-color: var(--clr-black);

	border: 1px solid var(--clr-black);

	color: var(--clr-white-grey);
}

@media only screen and (max-width: 320px) {
	.user-name {
		display: none;
	}
	.board-list-nav__cta {
		gap: 0.25rem;
	}
}

/* * end of boardList -> Header */

/* * boardList -> Section */

.board-list {
	max-width: 768px;
	margin: 0 auto;
}

.board-list-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding: 0.25rem 0;
	border-bottom: 1px solid #eee;
}

.board-list-title__wrapper {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.board-list-title__btn {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	background-color: var(--clr-black);
	color: var(--clr-white-grey);
	text-transform: capitalize;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;
}

.board-list-spinner {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-list-error {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-list-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.board-list-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	background-color: #fff;
	padding: 0.75rem;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);
}
.board-list-item:hover {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.board-list-item__banners {
	display: flex;
	margin-top: 0.25rem;
}

.board-list-item__title {
	text-transform: capitalize;
}

.board-list-item__banner {
	display: grid;
	place-items: center;
	margin-right: -0.5rem;
	width: 25px;
	height: 25px;
	background-color: palegreen;
	border: 2px solid var(--clr-white-grey);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	font-weight: 600;
	font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
	.board-list-container {
		gap: 0.85rem;
	}
}
@media screen and (max-width: 600px) {
	.board-list-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}
}
@media screen and (max-width: 350px) {
	.board-list-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 0.5rem;
	}
}

/* * end of boardList -> Section */

/* * add new board  */

.add-board {
	padding: 0.25rem;
	background-color: var(--clr-white-grey);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.add-board__input > input {
	width: 100%;
	padding: 0.25rem;
}

.add-board__cta {
	display: inline-block;
	display: flex;
	justify-content: flex-start;
	gap: 0.25rem;
}

.add-board__cta > button {
	padding: 0.25rem 0.5rem;
	border: none;
	outline: none;
	font-weight: 600;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	font-weight: 500;
	font-size: 0.8rem;
	cursor: pointer;
	transition: opacity cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: opacity cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: opacity cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: opacity cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: opacity cubic-bezier(0.23, 1, 0.32, 1);
}

.add-board__cta > button:hover {
	opacity: 0.9;
}

.add-board__cta > button:first-of-type {
	padding: 0.4rem 0.8rem;
	font-weight: 600;
	background-color: var(--clr-black);
	color: var(--clr-white-grey);
}
.add-board__cta > button:last-of-type {
	background-color: #eee;
	color: var(--clr-black);
}

/* * end of add new board  */
