.overlay {
	display: flex;
	align-items: flex-start;
	background-color: #000000a3;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.single-card {
	margin-top: 4rem;
	width: 100%;
	max-width: 768px;
	min-height: 500px;
	height: auto;
	border-radius: 3px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.single-card-spinner {
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
}

/* * CardHeader */

.single-card__title {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin: 24px 40px 8px 56px;
	min-height: 32px;
}

.single-card__title-text {
	align-self: center;
	width: 100%;
	color: #172b4d;
}
.single-card__title-text > input {
	align-self: center;
	width: 100%;
	cursor: pointer;
	color: #172b4d;
	font-size: 18.72px;
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

/* * card container flex */

.single-card__title-text > h2 {
	font-size: 20px;
}

.single-card__title-icon {
	align-self: center;
	width: 24px;
	height: 24px;
	color: #42526e;
}
.single-card__title-icon > svg {
	width: 100%;
	height: 100%;
}

.single-card__container {
	display: flex;
	justify-content: space-between;
}
.single-card-main {
	/* flex-wrap: wrap; */
	flex: 3;
}
.single-card-sidebar {
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 24px;
	flex: 1;
}

/* * CardDescription */

.description-cta {
	margin-left: 56px;
	padding: 8px 12px;
	padding-bottom: 24px;
	border-radius: 3px;
	background-color: #091e420a;
	cursor: pointer;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border: 2px solid transparent;
}

.description-value {
	margin-left: 56px;
	font-weight: 400;
	color: #172b4d;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.description-cta:hover {
	background-color: #0c1e3d1d;
}

.description-cta.editing {
	padding: 0;
	background-color: #fff;
	resize: none;
	font-family: inherit;
}
.description-cta.editing {
	background-color: #fff;
}

.description-cta textarea {
	display: none;
}
.description-cta.editing textarea {
	display: block;
}

.description-cta.editing textarea {
	font-size: 14px;
	min-height: 82px;
	padding: 8px 12px 24px;
	width: 100%;
	resize: none;
	font-family: inherit;
	outline: none;
	border: 2px solid var(--clr-black);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.description-fields {
	margin-top: 12px;
	display: flex;
}
.description-fields > button {
	margin-right: 6px;
	padding: 0.3rem 0.6rem;
	border-radius: 3px;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	font-weight: 600;
	cursor: pointer;
}
.description-fields > button:hover {
	opacity: 0.75;
}

.description-btn-save {
	background-color: var(--clr-black);
	color: var(--clr-white-grey);
}
.description-btn-close {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.description-btn-close > svg {
	font-size: 1rem;
}

@media screen and (max-width: 768px) {
	.single-card {
		margin: 3rem 0.66rem;
	}
}
