.overlay {
	display: flex;
	align-items: flex-start;
	background-color: #000000a3;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.single-card {
	margin-top: 4rem;
	width: 100%;
	max-width: 768px;
	min-height: 500px;
	height: auto;
	border-radius: 3px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.single-card-spinner {
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
}

@media screen and (max-width: 768px) {
	.single-card {
		margin: 3rem 0.66rem;
	}
}

/* * CardHeader */

.single-card__title {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	margin: 24px 40px 8px 56px;
	min-height: 32px;
}

.single-card__title-text {
	align-self: center;
	width: 100%;
	cursor: pointer;
	color: #172b4d;
}
.single-card__title-text > input {
	align-self: center;
	width: 100%;
	cursor: pointer;
	color: #172b4d;
	font-size: 18.72px;
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.single-card__title-text:hover {
	opacity: 0.75;
}

.single-card__title-text > h2 {
	font-size: 20px;
}

.single-card__title-icon {
	align-self: center;
	width: 24px;
	height: 24px;
	color: #42526e;
}
.single-card__title-icon > svg {
	width: 100%;
	height: 100%;
}
