* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--clr-black);
}

header {
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.nav {
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.75rem;
}

.btn {
	display: inline-block;
	padding: 0.75rem;
	border: none;
	outline: none;
	background-color: transparent;
	text-transform: capitalize;
	font-weight: 600;
	cursor: pointer;
	background-color: #fafafa;
	color: var(--clr-black);
	transition: border-bottom 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: border-bottom 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: border-bottom 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: border-bottom 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: border-bottom 0.33s cubic-bezier(0.23, 1, 0.32, 1);
	border-bottom: 2px solid #fafafa;
}
.btn.active {
	border-bottom: 2px solid var(--clr-black);
	color: var(--clr-black);
}

.logo {
	font-weight: 700;
	letter-spacing: 1px;
}

.section {
	padding: 4rem 0.5rem;
	max-width: 768px;
}
.auth-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

/* * register form */

.form {
	padding: 2.5rem 2rem;
	width: 280px;
	max-width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	border: 1px solid #eee;
}

.form-title {
	font-size: 1.75rem;
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.form-control > input {
	padding: 0.5rem 0.25rem;
	border: 1px solid #eee;
	outline: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.form-control > input::placeholder {
	opacity: 0.75;
}

.form-control > input:hover {
	border: 1px solid rgb(227, 227, 227);
}
.form-control > input:focus {
	border: 1px solid rgb(201, 201, 201);
}

.form-control > label {
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
}

.form > small {
	font-size: 0.75rem;
	color: #222;
	opacity: 0.5;
	text-transform: none;
	cursor: pointer;
}
.form > small:hover {
	text-decoration: underline;
}

.form-btn {
	padding: 0.5rem 1rem;
	margin-top: 0.75rem;
	outline: none;
	border: none;
	color: var(--clr-white-grey);
	background-color: var(--clr-black);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.form-btn:hover {
	opacity: 0.9;
}

/* * end of register form */

.auth-info {
	margin-top: -6rem;
	width: 280px;
	max-width: 100%;
	text-align: center;
	font-size: 0.75rem;
	color: var(--clr-black);
	opacity: 0.5;
}

button[disabled='disabled'],
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button:disabled:hover {
	opacity: 0.5;
}
